/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');

* {
  background-color: whitesmoke;
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
}

h1 {
  padding-top: 30vh;
}

#clock{
  font-size: 20px;
}